/* Write your code here. */

.app-container {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding-bottom: 20px;
}
.user-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}
.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 600;
}
.input-label {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 700;
}
.calculator-img {
  width: 60%;
  order: 0;
}
.text-container {
  width: 40%;
  padding-left: 30px;
  order: 1;
}

.user-input {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 5px;
  height: 40px;
  font-size: 20px;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 600;
  outline: none;
  margin-bottom: 10px;
}
.count-container {
  background-color: #ffffff;
  border: 0px solid;
  border-radius: 10px;
  height: 40px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}
.count {
  font-family: 'roboto';
  font-size: 20px;
  color: #1d976c;
  font-weight: 700;
}

@media (min-width: 768px) {
  .app-container {
    flex-direction: row;
  }
  .user-input-container {
    order: 0;
  }
  .calculator-img {
    order: 1;
  }
}
